@media screen and (min-width: 360px) {
  .footer {
    position: fixed;
    bottom: 0;
    right: 0;
  }

  .footer img {
    height: 30px;
    padding: 5px;
  }

  .footer img:hover {
    cursor: pointer;
  }
}

@media screen and (min-width: 1024px) {
  .footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
  }

  .footer img {
    height: 30px;
    padding: 5px;
  }

  .footer img:hover {
    cursor: pointer;
  }
}
