@media screen and (min-width: 360px) {
  .logo_sign {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 200px;
  }

  .logo_sign img {
    width: 290px;
  }
}

@media screen and (min-width: 1024px) {
  .logo_sign {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 200px;
  }

  .logo_sign img {
    width: 290px;
  }
}
